@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.sitefooter {
    background-color: #fff;
    padding: 15px 0 5px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    user-select: none;
    margin-top: auto;
    z-index: 10;
}

@media (max-width: 768px) {
    .sitefooter {
        font-size: 14px;
        padding: 10px;
    }
}

.sitefooter hr {
    border-top-color: #9e9d9d;
    opacity: 0.5;
}

.sitefooter hr.small {
    margin: 10px 0;
}

.sitefooter h6 {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px;
    margin-bottom: -7px;
    padding-left: 50px;
}

.footerlinks {
    padding-left: 0;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 75px;
}

.footerlinks li {
    display: inline-block;
    margin-right: 10px;
}

.footerlinks a {
    color: #202020;
    font-size: 14px;
    margin-right: 10px;
    padding: 5px;
    text-decoration: underline;
}
.footerlinks a:active,
.footerlinks a:focus,
.footerlinks a:hover {
    color: #6c6c6c;
    text-decoration: none;
}

.copyrighttext {
    margin: 10px;
}

.logo {
    color: #0065be;
    padding-left: 50px;
}

a:has(.logo) {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.logo:hover {
    color: #518bbe;
}
